TOGGL_API_TOKEN=your_api_token_here
TOGGL_WORKSPACE_ID=your_workspace_id_here

SENDER_NAME=Your Name
SENDER_COMPANY=Your Company
SENDER_ADDRESS=123 Main St\nCity, State, 12345\nCountry
SENDER_TAX_ID=000-00-0000
SENDER_EMAIL=you@example.com
PAYMENT_DETAILS_USD=Paypal: you@example.com\nBank Name\nAccount Number: 000000000\nRouting Number: 000000000
PAYMENT_DETAILS_ZAR=Bank Name\nAccount Number: 000000000\nBranch Code: 000000
DEFAULT_RATE=100.00
